body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 20%; 
    background-color: #f4f4f4; 
}

h1, h2 {
    color: #8e8888;
}

h1 {
    text-align: center;
}

p, ul {
    margin: 10px 0; 
    line-height: 1.6; 
}

ul {
    list-style-type: disc; 
    padding-left: 20px;
}